Binaries
DerivedDataCache
Intermediate
Saved
Build
**/ParagonDekker
**/AnimStarterPack
**/Animations
**/StarterContent
**/FX
**/Meshes
**/Pacman
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace